<html>
<head>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/validatorjs/validator.js" ></script>
</head>
<body ng-app="validatorApp">
    <div ng-controller="validatorController as vm">
        <!--<div ng-if="vm.getErrors('firstName')">{{vm.getErrors('firstName')}}</div>        
        First Name: <input type="text" ng-model="vm.person.firstName"/>-->
        
        <div ng-if="vm.getErrors('lastName')">{{vm.getErrors('lastName')}}</div>
        Last Name: <input type="text" ng-model="vm.person.lastName"/>
                
        <validator-directive ng-model="vm.person.firstName" validation="vm.validations.firstName" label="First Name:" ></validator-directive>
    </div>
        
        
</body>    

<script type="text/javascript">
    angular.module('validatorApp', [])
    
    .factory('validatorFactory', function(){
        var personValidation = {
            firstName: 'required',
            lastName: 'required'
        };
        
        var messages = {
            required: 'Required Field'
        }
        
        return {getErrors: getErrors,
            getValidations: getValidations,
            getErrorsByRule, getErrorsByRule};
        
        
        function getErrors(key, value){
            var validation = new Validator(value, personValidation, messages);               
            validation.passes()
            
            return validation.errors.first(key);
        }
        
        function getErrorsByRule(rule, value){
            var validation = new Validator(
                {myItem: value},
                {myItem: rule},
                messages
            );
            
            validation.passes();
            
            return validation.errors.all();
        }
        
        function getValidations(){
            return personValidation;
        }
    })
    
    .directive('validatorDirective', ['validatorFactory', function(validatorFactory){
        return{
            scope: {
                ngModel: '=',
                label: '@',
                validation: '=',
                errors: '=?'
            },
            templateUrl: 'templates/input.html',
            bindToController: true,
            controllerAs: 'vm',
            controller: ['validatorFactory', function(validatorFactory){
                var self = this;
                
                     
            }],
            link: function(scope, element, attrs) {
                
                element.find('input').on('blur', function(){
                   console.log('testing');
                   
                   scope.vm.errors =  validatorFactory.getErrorsByRule(scope.vm.validation, scope.vm.ngModel);
                   scope.$apply();
                });
            }  
        };
    }])
    
    .controller('validatorController', ['validatorFactory', function(validatorFactory){
        var self = this;
        
        self.person = {
            firstName: '',
            lastName: "Cox"
        };
        
        self.validations = validatorFactory.getValidations();
                
        self.getErrors = function getErrors(key){
            //value to verify
            //console.log('verifying ' + key);
            return validatorFactory.getErrors(key, self.person);
        };        
        
    }]);
    
</script>
</html>